.stack__container {
    background: linear-gradient(135deg, #6c63ff, #4137ff, #6d65ff);
    background-size: 300% 300%;
    animation: gradient-animation 5s ease infinite;
    padding: 2rem;
    position: relative;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.stack__sticker {
    width: 15rem;
    position: absolute;
    right: -20px;
    bottom: -20%;
    transform: rotate(15deg);
}

.stack__title {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
    font-size: 3rem;
    color: white;
}

.stack__blocks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6.5rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 3rem;
    padding: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
}


.stack__image {
    width: 6.5rem;
    display: flex;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.stack__image:hover {
    transform: scale(1.1);
}

@media (max-width: 700px){
    .stack__sticker {
        display: none;
    }
}