/* MainPage.css */

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #6c63ff, #3f3d56);
    color: white;
    background-color: #6c63ff;
}

.main-page__hero {
    text-align: center;
    padding: 2rem;
}

.hero__content {
    max-width: 600px;
    margin: auto;
}

.hero__title {
    font-size: 7rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-wrap: nowrap;
    position: relative;
    z-index: 2;
}

.hero__subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;
}

.hero__button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: 2rem;
    transition: background-color 0.3s ease;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

.hero__button--primary {
    background-color: #ff6584;
    color: white;
}

.hero__button--primary:hover {
    background-color: #ff4563;
}

.main-page__sticker {
    position: absolute;
    left: -4rem;
    object-fit: cover;
}

.main-page__sticker-image {
    height: 50rem;
    z-index: -1;
}

.cursor {
    display: inline-block;
    font-weight: bold;
    opacity: 1;
    animation: blink 0.8s infinite;
}

.cursor.visible {
    opacity: 1;
}

.cursor {
    opacity: 0;
}

@keyframes blink {
    50% { opacity: 0; }
}


@media (max-width: 899px) {
    .main-page__sticker {display: none;}
}

@media (max-width: 650px) {
    .hero__title {font-size: 3rem; text-wrap: wrap;}
    .hero__subtitle {font-size: 1.2rem;}
    .hero__button {font-size: 1rem;}
}
